#all{
    width: 1200px;
    height: 700px;
    margin:auto;
    border-radius: 10px;
    border:2px dashed aqua;
}
h3{
    height: 15px;
    text-align: center;
    color: rgb(153, 10, 10);
}
#you{
    margin-left: 35%;
    text-align:right;
    float:left;
}
#zuo{
    margin-top: -50px;
    margin-left: 45%;
    text-align: left;
    float: left;
    width:500px;
}
div{
    height: 50px;
}
input{
    width:240px;
    background-color: rgb(247, 244, 217);
}
#an input{
    background-color: rgb(155, 155, 219);
    color: rgb(238, 232, 182);
    width: 170px;
    border-radius: 5px;
}
.ok{
    text-indent: 16px;
    font-size: 10px;
    color: red;
    background-repeat: no-repeat;
}
.wrong{
    text-indent: 16px;
   font-size: 10px;
    color: red;
    background-repeat: no-repeat;
    
}